@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #e1e1e6;
}

body, html {
    margin: 0;
    padding: 0;
    background: #121214;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 100;
}

h1.title {
    color: #f0ebfd;
}

div.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.title {
    text-align: center;
}

div.container > div {
    display: flex;
    flex-direction: column;
}

div.start {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button.start {
    border: none;
    outline: none;
    height: 60px;
    width: 150px;
    background: #835ae4;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 9px;
}